
#titolo {
    color: rosybrown;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
}
.bor {
height: auto;
margin: auto;
}
.btn {
background-color: rosybrown;
color: whitesmoke;
text-decoration:none;
padding-left:2px;
padding-top: 2px;
margin-top: 2px
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
align-self: center;
}
